{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <title>Document</title>
</head>
<script type="text/javascript" src="{% static 'Chart.min.js' %}"></script>
<body>
<div id="main_page" class="w3-row">
    <form id="filter_form" class="w3-bar w3-light-grey">
        <div class="w3-bar-item">
            <label>Produit</label>
            <select id="product" type="date" class="w3-select filter_input" name="product">
                <option></option>
                <option>AA</option>
                <option>BB</option>
                <option>CC</option>
                <option>DD</option>
                <option>EE</option>
            </select>
        </div>
        <div class="w3-bar-item"><label>Du</label><input id="from_date" name="from_date" type="date" class="w3-input filter_input"
                                                         placeholder="DU">
        </div>
        <div class="w3-bar-item"><label>AU</label><input id="to_date" name="to_date" type="date" class="w3-input filter_input"
                                                         placeholder="AU">
        </div>
        <div class="w3-bar-item w3-mobile"><input type="button" class="w3-green w3-button" value="Filtrer"
                                                  onclick="apply_filter()"></div>
    </form>
</div>

</body>

</html>
<script>

    function get_user_filter_parameters() {
        let filter_inputs = document.getElementById('filter_form').querySelectorAll('.filter_input');
        let filter_form_data = {};
        for (let i = 0, l = filter_inputs.length; i < l; i++) {
            filter_form_data[filter_inputs[i]['name']] = filter_inputs[i].value
        }

        console.log(filter_form_data);
        return filter_form_data
    }

    fetch('{% url "dashboard" %}' + '?action=get_json_data').then(
        data => data.json(),
    ).then(function (data) {
        build_dashboard(data.options.charts)


    }).catch(function (data) {
        console.log(data)
    });

    function build_dashboard(data) {
        for (let i = 0, l = data.length; i < l; i++) {
            // create canvas
            let canvas = document.createElement("CANVAS");
            canvas.getContext("2d");


            // Create canvas's container
            let container = document.createElement('DIV');
            container.classList.add(
                'w3-col',
                'l' + data[i].width.l,
                'm' + data[i].width.m,
                's' + data[i].width.s,
                'w3-padding');
            container.appendChild(canvas);
            container.style.height = data[i].height.l * 200 + 'px';

            document.getElementById('main_page').appendChild(container);

            // fetch (get) the chart option's

            let filter_parameters = get_user_filter_parameters() ;

            fetch(data[i].url + '?action=get_json_data&' + data[i].url_parameters + '&user_filter=' +
                JSON.stringify(filter_parameters)).then(
                response => response.json(),
            ).then(function (response) {
                new Chart(canvas, response);
            }).catch(function (response) {
                console.log(response)
            });
        }
    }

    function apply_filter() {
        let product = document.getElementById('product').value;
        let from_date = document.getElementById('from_date').value;
        let to_date = document.getElementById('to_date').value;

        let filter_parameters = {
            product: product,
            from_date: from_date,
            to_date: to_date
        };
        fetch('{% url "dashboard" %}' + '?action=get_json_data').then(
            data => data.json(),
        ).then(function (data) {
            build_dashboard(data.options.charts, filter_parameters)


        }).catch(function (data) {
            console.log(data)
        });
    }


</script>
